$red-100: #df1e3a;

$grey-10: #fcfcfc;
$grey-20: #e6e6e6;
$grey-30: #f8f5f5;
$grey-40: #e7e7e7;
$grey-50: #979797;
$grey-60: #96a0a8;
$grey-70: #e4e5e6;
$grey-90: #484848;
$grey-100: #dfdfdf;
$grey-110: #a3a5a8;
