@use 'styles/colors' as clr;

.modal {
  &__form {
    display: flex;
    flex-direction: column;

    margin-top: 3.2rem;
  }

  &__form-error {
    display: block;
    color: clr.$red-100;
    margin-top: 2rem;
  }

  &__delete-title {
    font-size: 2rem;

    margin: 0;
    padding: 0;

    font-weight: normal;

    &_bold {
      font-weight: 600;
    }
  }

  &__delete-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;
  }

  .ant-modal-footer {
    display: none;
  }
}
