@use 'styles/colors' as clr;

.table {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  &__loader {
    margin-top: 2rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    width: 100%;

    margin-bottom: 1rem;
  }

  &__error {
    color: clr.$red-100;
    margin-top: 2rem;
  }

  &__edit {
    width: 120px;
  }

  &__add-button {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.6rem;
  }

  &__tooltip-inner-item {
    margin: 0;
    padding: 0;
  }
}
